/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Aa]uto[Bb]uild/

.vscode/
.vs/

*.csproj
*.sln
*.suo
*.tmp
*.userprefs
*.app
.idea/
*.VC.*
.DS_Store
*~
*.swp
node_modules/
*.log
*.pyc
Assets/Scenes/SampleScene.unity
Library/CurrentLayout-default.dwlt
Library/SourceAssetDB
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Library/StateCache/MainStageHierarchy/35/35d2da6a311d8e1a1cb1039ceadbbef0.json
Library/ArtifactDB
Library/Artifacts/00/00dfaf25c4283eda8620981856a1ebf1
